<section class="vh-100">
  <div class="container h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card bg-secondary text-white" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Rejestracja {{admin}}</p>

                <form class="mx-1 mx-md-4" method="post">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <label for="login" class="form-label"> Login: </label>
                        <input type="text" id="login" name="login" class="form-control">
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <label for="password" class="form-label"> Hasło: </label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <label for="email" class="form-label" > Email: </label>
                        <input type="email" id="email" name="email" class="form-control">
                    </div>
                  </div>         

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <label for="name" class="form-label" > Imie: </label>
                        <input type="name" id="name" name="name" class="form-control">
                    </div>
                  </div>  
                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <label for="surname" class="form-label" > Nazwisko: </label>
                        <input type="surname" id="surname" name="surname" class="form-control">
                    </div>
                  </div> 

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" value="Submit" class="btn btn-danger my-sm-3 w-50">Zarejestruj</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>